{
  "enabled": false,
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false
}